*,
*::before,
*::after {
  box-sizing: border-box;
}

* > img {
  max-width: 100%;
}

/* Reset display property for specific elements */
/* :where(
    div,
    p,
    span,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    li,
    table,
    th,
    td,
    img
  ) {
  display: inherit;
} */

/* Reset margin and padding for all elements */
:not(iframe, canvas, img, svg, video) {
  margin: 0;
  padding: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"),
    url("../assets/fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue"), local("HelveticaNeue"),
    url("../assets/fonts/HelveticaNeue.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Light"), local("HelveticaNeue-Light"),
    url("../assets/fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("../assets/fonts/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Eiko";
  src: local("PP Eiko Thin"), local("PPEiko-Thin"),
    url("../assets/fonts/PPEiko-Thin.woff2") format("woff2"),
    url("../assets/fonts/PPEiko-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Eiko";
  src: local("PP Eiko Medium"), local("PPEiko-Medium"),
    url("../assets/fonts/PPEiko-Medium.woff2") format("woff2"),
    url("../assets/fonts/PPEiko-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Eiko";
  src: local("PP Eiko Heavy"), local("PPEiko-Heavy"),
    url("../assets/fonts/PPEiko-Heavy.woff2") format("woff2"),
    url("../assets/fonts/PPEiko-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors: */
  ---707070: #707070;
  ---5c38ff: #5c38ff;
  ---1a1a1a: #1a1a1a;
  ---e9e4fb: #e9e4fb;
  ---bfd989: #bfd989;
  ---e3eed9: #e3eed9;
  ---aa8b56: #aa8b56;
  ---f3bc3e: #f3bc3e;
  ---f5f5f7: #f5f5f7;
  ---f2b203: #f2b203;
  ---8bc63f: #8bc63f;
  ---3a3a3c: #3a3a3c;
  ---777779: #777779;
  ---a9a9aa: #a9a9aa;
  ---88988e: #88988e;
  ---1d1d1f: #1d1d1f;
  ---4e6c50: #4e6c50;
  ---262626: #262626;
  ---fbe2b0: #fbe2b0;
  ---f8d180: #f8d180;
  ---f1f1f1: #f1f1f1;
  ---ebeae4: #ebeae4;
  ---f0ebce: #f0ebce;
  ---395144: #395144;
  ---b4bdb8: #b4bdb8;
  ---53675b: #53675b;
  --unnamed-color-000000: #000000;
  --box-shadow-color: #00000019;

  /* Font/text values */
  --unnamed-font-family-helvetica: "Helvetica Neue", sans-serif;
  --font-family-pp-eiko: "PP Eiko", serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-300: 300;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-11: 11px;
  --unnamed-font-size-12: 12px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-18: 18px;
  --unnamed-font-size-20: 20px;
  --unnamed-font-size-22: 22px;
  --unnamed-font-size-24: 24px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-34: 34px;
  --unnamed-font-size-48: 48px;
  --unnamed-font-size-60: 60px;
  --unnamed-font-size-96: 96px;
  --unnamed-font-size-105: 105px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-nan: NaN;
  --unnamed-line-spacing-13: 13px;
  --unnamed-line-spacing-14: 14px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-23: 23px;
  --unnamed-line-spacing-24: 24px;
  --unnamed-line-spacing-25: 25px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-line-spacing-28: 28px;
  --unnamed-line-spacing-29: 29px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-34: 34px;
  --unnamed-line-spacing-41: 41px;
  --unnamed-line-spacing-58: 58px;
  --unnamed-line-spacing-72: 72px;
  --unnamed-line-spacing-115: 115px;
  --unnamed-line-spacing-126: 126px;
  --unnamed-line-spacing-35-599998474121094: 35.599998474121094px;
}

::selection {
  background: var(---f3bc3e);
  color: #fff;
}

button,
a {
  cursor: pointer;
}
.character-style-1 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-12);
  line-height: var(--unnamed-line-spacing-14);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---a9a9aa);
}
.character-style-3 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-34);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---1d1d1f);
}
.character-style-3 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-22);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f2b203);
}
.character-style-3 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-28);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---4e6c50);
}
.character-style-1 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-11);
  line-height: var(--unnamed-line-spacing-13);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---53675b);
}
.h5 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-29);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.h4 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-34);
  line-height: var(--unnamed-line-spacing-41);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.h3 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-48);
  line-height: var(--unnamed-line-spacing-58);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.h2 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-72);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.h1 {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-96);
  line-height: var(--unnamed-line-spacing-115);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}

/*  */
body {
  font-family: var(--unnamed-font-family-helvetica);
}

.bg-green {
  background: var(---4e6c50);
  padding: 13px 18px;
  color: #fff;
  border-radius: 46px;
}

.section-inline-padding {
  padding-inline: clamp(0.938rem, -1.475rem + 12.063vw, 13rem);
}

.section-inline-padding-s {
  padding-inline: clamp(0.938rem, 0.425rem + 2.563vw, 3.5rem);
}

#main > section {
  padding-block: 80px;
}

#header {
  padding: 17px 93px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

#header.inverted {
  position: relative;
}

:where(#header.inverted)
  :where(.brand-name h1, .brand-name h1 + *, .custom-select) {
  color: var(---1d1d1f) !important;
}

:where(#header.inverted) :where(.user-name, .user-phone-number) {
  color: var(---3a3a3c) !important;
}

:where(#header.inverted) :where(.select-selected)::after {
  content: url(../assets/images/chevron-down-alt.png) !important;
}

:where(#header.inverted) :where(img) {
  filter: invert(1);
}

.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.brand-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
}

.brand-name h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / 19px var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f5f5f7);
  text-align: left;
}

.brand-name h1 + * {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f5f5f7);
  text-align: left;
}

.logo-container {
  width: 59px;
  height: 59px;
  background: var(---f5f5f7) 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  max-width: 100%;
  visibility: hidden;
}

.header-right-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.custom-select {
  position: relative;
  width: 93px;
  height: 21px;
  background-color: transparent;
  color: #fff;
  font-size: var(--unnamed-font-size-18);
  line-height: 1.22em;
}

.select-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.select-selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.select-arrow {
  position: relative;
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transform: scaleY(0);
  opacity: 0;
  transition: all 150ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
  transform-origin: top;
  will-change: transform;
}

.custom-select:hover .select-items {
  transform: scaleY(1);
  opacity: 1;
}

.select-items li {
  cursor: pointer;
}

.select-items li:first-child {
  margin-block-start: 20px;
}

.select-items li + li {
  margin-block-start: 10px;
}

.select-items li:hover {
  color: var(---f3bc3e);
}

.select-selected:after {
  content: url(../assets/images/chevron-down.png);
  cursor: pointer;
  margin-inline-start: 1em;
}

.select-selected.select-arrow-active:after {
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.currency-selector-container {
  margin-inline-end: 107px;
}

#currency-selector {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) / 22px
    Helvetica Neue;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f5f5f7);
  text-align: left;
  outline: none;
  border: none;
  background: transparent !important;
}

#currency-selector option {
  background: transparent !important;
  -webkit-appearance: none;
  appearance: none;
}

.notification-container {
  width: 17px;
  margin-inline-end: 57px;
}

.tickets-container {
  margin-inline-end: 69px;
  width: 30px;
}

.user-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.user-image {
  max-width: 35px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.user-name {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-16) / var(--unnamed-line-spacing-26)
    var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f5f5f7);
  text-align: left;
}

.user-phone-number {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-12) /
    var(--unnamed-line-spacing-14) var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f1f1f1);
  text-align: left;
}

.park-selection-container,
.home-banner {
  padding-block: 0 !important;
}

.park-selection-container {
  position: relative;
}

.park-selection-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-inline-start: 154px;
  background: var(---262626) 0% 0% no-repeat padding-box;
  border: 2px solid var(---f2b203);
  border-radius: 26px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
}

.park-selection-wrapper .search-icon {
  max-width: 34px;
}

.park-selection-wrapper .park-selection-text {
  margin-inline: 118px 64px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
    var(--unnamed-line-spacing-29) var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f5f5f7);
  cursor: pointer;
}

.park-selection-wrapper .park-selection-chevron {
  max-width: 12px;
  margin-inline-end: 90px;
}

.park-selection-wrapper .park-selection-btn {
  padding: 32px 49px 32px 28px;
  background: var(---f3bc3e) 0% 0% no-repeat padding-box;
  border-radius: 2px 23px 23px 26px;
  cursor: pointer;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-24) /
    var(--unnamed-line-spacing-29) var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---f5f5f7);
}

.cta-section {
  padding-block: 205px 200px !important;
  padding-inline-start: clamp(0.938rem, -1.475rem + 12.063vw, 13rem);
  background: url(../assets/images/cta-bg.png) left center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 71px;
}

.cta-section__graphics {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 0 16px;
}

.cta-section__card {
  background-color: var(---f5f5f7);
  box-shadow: 30px 15px 20px var(--box-shadow-color);
  border-radius: 30px;
  padding: 15em 8.4em 21.3em;
  grid-area: 1 / 1 / span 1 / span 1;
  display: flex;
  place-content: center;
}

.cta-section__text {
  grid-column: 2 / -1;
  grid-row: 1 / 1;
  font-family: var(--unnamed-font-family-helvetica);
  font-weight: var(--unnamed-font-weight-bold);
  display: block;
  position: relative;
  margin-block-start: 46px;
}

.top-text {
  font-size: var(--unnamed-font-size-28);
  line-height: 1em;
  color: var(---262626);
  position: relative;
}

.middle-text {
  font-size: var(--unnamed-font-size-105);
  line-height: 0.85em;
  text-indent: -1.8ch;
  color: var(---1d1d1f);
  display: flex;
}

.bottom-text {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---262626);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-34);
}

.bottom-text label {
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-24);
  line-height: var(--unnamed-line-spacing-29);
  /* user-select: text; */
  /* cursor: text; */
}

.cta-section__image {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  max-width: 620px;
  justify-self: end;
  align-self: end;
  position: relative;
  transform: translate(1.7%, 46%);
}

.cta-section__content {
  margin-block-start: 100px;
}

.cta-section__content small {
  font-size: var(--unnamed-font-size-16);
  line-height: 1.2em;
  color: var(---777779);
  margin-block-end: 0.75em;
  display: inline-block;
}

.cta-main__content {
  font-weight: 700;
  font-size: var(--unnamed-font-size-48);
  line-height: 1.2em;
  position: relative;
}

.cta-main__content .bg-green {
  padding-block: 5px;
}

.cta-focused {
  font-size: 8.3125rem;
  line-height: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, auto);
  place-items: baseline;
  transform: translateY(30%);
}

.cta-focused sub {
  font-size: 0.32em;
}

.cta-main__content-end {
  margin-inline-start: 200px;
  display: inline-block;
}

.cta-main__sub-content {
  font-size: var(--unnamed-font-size-24);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.2em;
  width: 264px;
  margin-block-start: 1.5em;
}

.cta-main__sub-content strong {
  font-weight: 700;
}

.cta-section__btn {
  padding: 0.46em 1.68em;
  font-size: 41px;
  color: #ffffff;
  text-align: center;
  line-height: 1em;
  border-radius: 46px;
  margin-block-start: 3.12em;
}

.bg-yellow {
  background: var(---f3bc3e);
}

.trending-destinations {
  padding-block: 80px;
}

#main > section > [class*="title-container"],
#main > section > * > [class*="title-container"] {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 28px;
}

#main > section > [class*="title-container"].flow-verticle {
  flex-direction: column;
}

.trending-destinations__title {
  font-size: var(--unnamed-font-size-28);
  font-weight: 700;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(---262626);
}

#main > section > [class*="title-container"] > small[class*="sub-title"],
#main > section > * > [class*="title-container"] > small[class*="sub-title"] {
  font-size: var(--unnamed-font-size-12);
  color: var(---a9a9aa);
}

.trending-destinations__explore-link {
  display: inline-block;
  margin-inline-start: auto;
  color: var(---f2b203);
  text-decoration: none;
}

.trending-destinations__cards {
  margin-block-start: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

.trending-destination__card {
  border-radius: 27px;
  overflow: hidden !important;
  display: grid;
  align-content: stretch;
  justify-content: center;
  align-items: stretch;
  justify-items: center;
  grid-template-rows: 289px auto;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.trending-destinations__card-image {
  mix-blend-mode: saturation;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 150ms ease-in-out;
  will-change: transform;
}

.trending-destination__card:hover .trending-destinations__card-image {
  transform: scale(1.2);
}

.trending-destinations__card-contents {
  background: var(---f1f1f1);
  padding: 23px 16px 32px;
}

.trending-destinations__card-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.trending-destinations__card-no {
  font-weight: 700;
  font-size: 62px;
  color: var(---f2b203);
  text-indent: 5px;
}

.trending-destinations__card-title {
  font-weight: 700;
  font-size: var(--unnamed-font-size-22);
  text-decoration: none;
  color: var(--unnamed-color-000000);
}

.trending-destinations__card-specs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  gap: 5px;
  font-size: 9px;
  color: var(---a9a9aa);
  margin-top: 0.44em;
}

.trending-destinations__card-rating,
.park-details__rating-star {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 1.5em;
}

.trending-destinations__card-rating::before,
.park-details__rating-star::before {
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    var(---4e6c50) var(--percent),
    var(---b4bdb8) var(--percent)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.trending-destinations__card-location {
  margin-inline-start: 6px;
}

.trending-destinations__card-content {
  color: var(---777779);
  font-size: var(--unnamed-font-size-11);
  margin-block-start: 1.36em;
  line-height: 1.64em;
}

.todo-container {
  padding-block: 80px;
}

#main > section > h2[class*="title"],
#main > section > [class*="title-container"] > h2[class*="title"],
#main > section > * > [class*="title-container"] > h2[class*="title"] {
  font-size: var(--unnamed-font-size-28);
  font-weight: 700;
  color: var(---262626);
}

.todo__contents {
  margin-block-start: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(735px, 1fr));
  gap: 1rem;
}

.todo__contents > * {
  background: var(---b4bdb8);
  transition: background 150ms linear;
  will-change: background;
}
.todo__contents-left {
  padding: 202px 32px 32px 260px;
  border-radius: 0px 0px 0px 192px;
  text-align: right;
}

.todo__content {
  color: var(---4e6c50);
  transition: color 150ms linear;
  will-change: color;
}

.todo_content-title {
  font-family: var(--font-family-pp-eiko);
  font-size: 100px;
  font-weight: 100;
  color: var(---262626);
  transition: color 150ms linear, font-weight 150ms linear;
  will-change: color, font-weight;
}

.todo__contents > *:hover .todo__content {
  color: var(---e3eed9);
}

.todo__contents > *:hover .todo_content-title {
  color: #ffffff;
  font-weight: 500;
}

.todo__contents > .todo__contents-left:hover {
  background: var(---395144);
}

.todo__contents > .todo__contents-right:hover {
  background: var(---f3bc3e);
}

.todo__contents-right {
  border-radius: 0px 70px 70px 0px;
  padding: 202px 260px 32px 32px;
}

.districts {
  padding-block: 80px;
}

.districts__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 96px;
  margin-block-start: 148px;
}

.district {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.district__img {
  max-width: 60px;
}

.district__name {
  font-size: var(--unnamed-font-size-22);
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(---f2b203);
  margin-block-start: 1.91em;
}

.trips__title-container {
  gap: 1rem !important;
}

.trips__filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-block-start: 2rem;
  gap: 1rem;
}

.trips__filter {
  border: 1px solid transparent;
  border-radius: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 14px;
  cursor: pointer;
  padding: 14px 22px;
  transition: all 150ms linear;
}

.trips__filter:hover {
  border-color: var(---b4bdb8);
  background: var(---f0ebce);
}

.trips__filter-icon {
  max-width: 24px;
}

.trips__content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1rem;
  margin-block-start: 2rem;
}

.trip__item {
  padding: 206px 0 32px 32px;
  border-radius: 24px;
  border: 1px solid var(---ebeae4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.trip__item-title {
  font-size: var(--unnamed-font-size-22);
  font-weight: 700;
  width: min(4.36em, 100%);
  color: var(---f5f5f7);
}

.discover-tripura {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 70px;
  padding-block-end: 154px !important;
}

.discover-tripura__video {
  overflow: hidden;
  border-radius: 30px;
  height: auto;
}

.discover-tripura__title {
  font-family: var(--font-family-pp-eiko);
  font-size: 104px;
  font-weight: 900;
  color: var(---395144);
}

.discover-tripura__description {
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.67em;
  color: var(---1d1d1f);
  margin-block-start: 40px;
}

.discover-tripura__btn {
  padding: 18px 20px;
  background: var(---f3bc3e);
  border-radius: 26px;
  font-size: 1rem;
  line-height: 1em;
  color: #ffffff;
  margin-block-start: 1.5em;
  border: 1px solid transparent;
  transition: all 150ms linear;
}

.discover-tripura__btn:hover {
  border-color: var(---b4bdb8);
  background: var(---fbe2b0);
  color: var(---4e6c50);
}

.discover-tripura__highlights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  margin-block-start: 30px;
  gap: 14px;
}

.discover-tripura__highlight {
  padding: 265px 0 44px 32px;
  border-radius: 30px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.discover-tripura__highlight-title {
  font-size: var(--unnamed-font-size-28);
  font-weight: 700;
  color: var(---f5f5f7);
  width: min(150px, 100%);
}

.home-testimonials {
  padding-block: 154px 8px !important;
}

.home-testimonials__container {
  background: var(---f5f5f7);
  border-radius: 40px;
  padding: 48px 152px 136px;
}

.home-testimonials__title {
  font-size: var(--unnamed-font-size-28);
  font-weight: 700;
  line-height: 1em;
  color: var(--unnamed-color-000000);
}

.home-testimonials__title span {
  font-weight: var(--unnamed-font-weight-300);
  font-style: oblique;
}

.home-testimonials__contents {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-flow: column;
  gap: 1rem;
}

.home-testimonial {
  padding: 96px 56px 52px;
  font-size: var(--unnamed-font-size-22);
  width: min(max(320px, 592px), 100%);
  color: var(---262626);
}

.home-testimonial__quote {
  position: relative;
  line-height: 1.62em;
}

.home-testimonial__quote::before {
  content: "‘";
  font-family: var(--font-family-pp-eiko);
  font-weight: 900;
  font-size: 5.63em;
  position: absolute;
  bottom: 94%;
  right: 100%;
}

.home-testimonial__author {
  font-weight: var(--unnamed-font-weight-bold);
  margin-block-start: 1.45em;
}

.cta-section-secondary {
  padding-block: 8px 154px !important;
}

.cta-section-secondary__container {
  background: var(---395144);
  border-radius: 40px;
  padding: 44px 304px 63px 152px;
  color: #ffffff;
}

.cta-section-secondary__title {
  font-size: var(--unnamed-font-size-28);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1em;
  color: #fcfcfc;
}

.cta-section-secondary__contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 80px;
  margin-block-start: 0.4em;
}

.cta-section-secondary__content {
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.25em;
  width: min(630px);
}

.cta-section-secondary__content span {
  font-family: var(--font-family-pp-eiko);
  font-weight: 900;
}

.cta-section-secondary__btn {
  background: var(---f2b203);
  font-size: 41px;
  padding: 0.46em 1.68em;
  line-height: 1em;
  border-radius: 46px;
}

.newsletter {
  padding-block: 154px 44px !important;
  display: grid;
  grid-template-columns: 1fr repeat(2, 0.4fr);
}

.newsletter__container {
  width: min(380px, 100%);
}

.newsletter__title {
  font-size: 38px;
  line-height: 1.2em;
  color: var(---395144);
}

.newsletter__input-wrapper {
  font-size: 32px;
  margin-block-start: 0.76em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid var(---3a3a3c);
  padding-block-end: 1rem;
  position: relative;
}

.newsletter__email {
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.2em;
  color: var(---a9a9aa);
  border: none;
  outline: none;
  padding-inline-end: 32px;
  width: -webkit-fill-available;
}

.newsletter__email-btn {
  position: absolute;
  appearance: none;
  color: transparent;
  display: inline-block;
  vertical-align: baseline;
  background: url(../assets/images/arrow.png) center center no-repeat;
  background-size: contain;
  width: 1em;
  height: 1em;
  right: 0;
  background-origin: content-box;
  padding: 5px;
}

.newsletter > [class^="newsletter__menu"] {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  width: min(196px, 100%);
  justify-self: end;
}

.newsletter__menu-title {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.2em;
  color: var(---a9a9aa);
}

.newsletter__menu-items {
  list-style: none;
  text-align: right;
  font-size: 1rem;
  margin-block-start: 2em;
}

.newsletter__menu-item {
  color: var(---262626);
  line-height: 1.2em;
}

.newsletter__menu-item + .newsletter__menu-item {
  margin-block-start: 1.125em;
}

.newsletter__menu-item a {
  text-decoration: none;
  transition: color 150ms linear;
  will-change: color;
}

.newsletter__menu-item a:hover {
  color: var(---4e6c50);
}

/* Footer */
#footer {
  margin-block-end: 103px;
}

.footer-main__top-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-block: 19px 23px;
  border-bottom: 2px solid var(---707070);
}

.footer-main__social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
}

.footer-main__social-link {
  max-width: 37px;
}

.footer-main__brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}

.footer-main__brand-name-container {
  text-align: right;
  color: var(---262626);
}

.footer-main__brand-sub-name {
  font-size: 1.125rem;
  line-height: 1em;
}

.footer-main__brand-name {
  font-size: var(--unnamed-font-size-48);
  font-weight: 700;
  line-height: 1em;
  margin-block-start: 8px;
}

.footer-main__brand-logo {
  max-width: 96px;
}

.footer-main__menus {
  padding: 84px 300px 238px 154px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.footer-main__menu {
  list-style: none;
  font-size: var(--unnamed-font-size-22);
  line-height: 1.2em;
  color: var(---262626);
}

.footer-main__menu-item + .footer-main__menu-item {
  margin-block-start: 1.45em;
}

.footer-main__menu-link {
  text-decoration: none;
}

.footer-secondary {
  padding-inline: clamp(0.938rem, 0.425rem + 2.563vw, 3.5rem)
    clamp(0.938rem, -1.475rem + 12.063vw, 13rem);
  padding-block: 8px;
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.45fr;
  gap: 1rem;
}

.footer-secondary__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px 66px;
}

.footer-secondary__logo {
  max-height: 21px;
}

.footer-secondary__copyright,
.footer-secondary__credit {
  font-size: var(--unnamed-font-size-12);
  color: var(---a9a9aa);
  line-height: 1.17em;
}

/* Park Details */
.park-details {
  padding: 0 clamp(0.938rem, 0.425rem + 2.563vw, 3.5rem) 77px 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
}

.park-details__image {
  width: min(800px, 100%);
  border-bottom-right-radius: 77px;
  height: fit-content;
  overflow: hidden;
}

.park-details__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.park-details__contents {
  width: min(872px, 100%);
}

.park-details__name {
  font-size: var(--unnamed-font-size-105);
  font-weight: 100;
  font-family: var(--font-family-pp-eiko);
  line-height: 1.43em;
  color: var(---395144);
}

.park-details__tags {
  margin-block-start: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.park-details__tag {
  font-size: var(--unnamed-font-size-14);
  line-height: 1.64em;
  color: var(---f5f5f7);
  padding: 0.64em 3em;
  background: var(---4e6c50);
  border-radius: 46px;
}

.park-details__rating {
  margin-block-start: 64px;
}

.park-details__rating-star {
  font-size: 2em;
}

.park-details__rating-link {
  font-size: var(--unnamed-font-size-11);
  line-height: 1.5em;
  text-decoration: none;
  color: var(---53675b);
}

.park-details__cta {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
}

.park-details__cta-container {
  background: var(---262626);
  border: 2px solid var(---f2b203);
  border-radius: 26px;
  display: grid;
  width: min(592px, 100%);
  grid-template-columns: minmax(130px, 1fr) minmax(300px, 1fr) minmax(
      126px,
      1fr
    );
}

.park-details__cta-container > *:not(button) {
  cursor: pointer;
  color: var(---f0ebce);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-block: 33px;
  font-size: var(--unnamed-font-size-20);
  font-weight: var(--unnamed-font-weight-300);
  position: relative;
}

.park-details__cta-date-container {
  margin-inline: 30px 13px;
}

.park-details__cta-date-container::after {
  content: "";
  width: 1px;
  height: calc(100% + 66px);
  background: var(---f0ebce);
  position: absolute;
  left: calc(100% + 13px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.park-details__cta-container > *:not(button) > img {
  max-height: 20px;
}

.park-details__cta-date-chevron,
.park-details__cta-person-chevron {
  height: 11px;
}

.park-details__cta-person-container {
  margin-inline: 16px;
}

.park-details__cta-button {
  background: var(---f3bc3e);
  border-radius: 2px 22px 22px 26px;
  font-size: var(--unnamed-font-size-22);
  color: var(---f5f5f7);
}

.park-details__cta-share-link {
  position: relative;
  transform: translateY(-50%);
}

.park-details__text-content {
  margin-block-start: 56px;
  width: min(592px, 100%);
  font-size: var(--unnamed-font-size-18);
  line-height: 1.67em;
  color: var(---777779);
}

.park-activities {
  display: grid;
  grid-template-columns: min(600px, 100%) min(400px, 100%);
  justify-content: space-between;
  align-items: stretch;
  justify-items: stretch;
}

.park-activities__contents-content {
  margin-block-start: 50px;
  font-size: var(--unnamed-font-size-22);
  line-height: 1.62em;
  color: var(---777779);
}

.park-activities__contents-btn {
  font-size: 41px;
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.2em;
  color: #ffffff;
  padding: 0.46em 2.27em;
  border-radius: 1.12em;
  background: var(---f3bc3e);
  margin-block: 3.02em 0.59em;
}

.park-activities__activities-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
}

.park-activities__activity {
  display: block;
  width: 100%;
  padding-block: 0.625em;
  font-size: var(--unnamed-font-size-48);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.21em;
  color: var(--unnamed-color-000000);
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.park-activities__activity + .park-activities__activity {
  border-block-end: 1px solid var(---395144);
}

.park-activities__activity:first-child {
  border-block: 1px solid var(---395144);
}

.park-highlights {
  background: var(---395144);
  color: #fff;
  padding-block: 96px 54px !important;
  margin-block: 80px 36px;
}

.park-highlights__wrapper {
  display: grid;
  grid-template-columns: min(744px, 100%) min(592px, 100%);
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  justify-items: stretch;
  gap: 2rem;
}

.park-highlights__main-highlights-title-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 28px;
}

.park-highlights__main-highlights-title {
  font-size: var(--unnamed-font-size-28);
  font-weight: 700;
}

.park-highlights__main-highlights-sub-title {
  font-size: var(--unnamed-font-size-12);
}

.park-highlights__main-highlights-container {
  margin-block-start: 64px;
  max-height: 700px;
  overflow-y: auto;
  padding-inline-end: 1rem;
}

.park-highlights__main-highlights {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.park-highlights__main-highlight {
  font-size: var(--unnamed-font-size-105);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.2em;
  padding-block: 20px;
}

.park-highlights__main-highlight {
  border-block-start: 1px solid currentColor;
}

.park-highlights__main-highlights-container::-webkit-scrollbar {
  width: 8px;
}

.park-highlights__main-highlights-container::-webkit-scrollbar-track {
  background: transparent;
  width: 1px;
}

.park-highlights__main-highlights-container::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background 150ms linear;
}

.park-highlights__main-highlights-container:hover::-webkit-scrollbar-thumb {
  background: var(---88988e);
}

@media (hover: none) {
  .park-highlights__main-highlights-container::-webkit-scrollbar-thumb {
    background: var(---88988e);
  }
}

.park-highlights__main-highlights-scroll-icon {
  align-self: center;
}

.park-highlights__main-highlights {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.park-highlights__main-highlights-scroll-icon {
  align-self: center;
}

.park-highlights__content {
  font-size: var(--unnamed-font-size-22);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.61em;
}

.park-highlights__btn {
  background: var(---f3bc3e);
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.2em;
  padding: 0.56em 2.61em;
  border-radius: 2.56em;
  margin-block-start: 1.33em;
}

.park-gallery {
  padding-block-end: 58px !important;
}

.park-gallery__text-container {
  display: grid;
  grid-template-columns: min(840px, 100%) min(592px, 100%);
  gap: 2rem;
  align-content: stretch;
  align-items: baseline;
  justify-content: space-between;
}

.park-gallery__heading {
  position: relative;
  font-size: 13.19rem;
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.2em;
  color: var(---1d1d1f);
  z-index: 2;
  padding-inline-start: calc(1.3em / 2);
}

.park-gallery__heading::after {
  content: "";
  position: absolute;
  width: 1.36em;
  height: 1.36em;
  left: 0;
  top: 50%;
  background: var(---b4bdb8);
  transform: translateY(-50%);
  z-index: -1;
  pointer-events: none;
  transition: width 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  will-change: width;
}

.park-gallery__heading:hover::after {
  width: 100%;
}

.park-gallery__text {
  font-size: var(--unnamed-font-size-16);
  line-height: 1.63em;
  color: var(---777779);
  transform: translateY(-3em);
}

.park-gallery__items {
  padding-block-start: 9px;
  margin-block-start: 80px;
  border-top: 4px solid var(---f8d180);
  position: relative;
}

.park-gallery__items::after {
  content: "";
  position: absolute;
  left: 70%;
  bottom: 100%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: url(/assets/images/gallery-arrow.png) no-repeat center center;
  background-size: cover;
  transform: translateY(50%);
}

.park-gallery__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 80px 110px 23px 30px;
  border-radius: 102px 0px;
  background: url(/assets/images/park-galler-bg.png) no-repeat center center;
  background-size: cover;
  color: #fff;
}

.park-gallery__item-left-sec {
  align-self: end;
}

.park-gallery__item-left-sub {
  font-size: var(--unnamed-font-size-12);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.17em;
}

.park-gallery__item-left-title {
  font-size: var(--unnamed-font-size-28);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.21em;
}

.park-gallery__item-right-sub {
  font-size: var(--unnamed-font-size-28);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.46em;
}

.park-gallery__item-right-title {
  font-size: var(--unnamed-font-size-34);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.21em;
}

.park-gallery__item-right-btn {
  margin-block: 0.72em 1.78em;
  background: var(---f2b203);
  border-radius: 2.56em;
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.22em;
  padding: 0.56em 2.22em;
}

.park-details-page .trips {
  padding-block-start: 58px !important;
}

/* Cart page */
.cart-navigations {
  padding-block: 60px 15px !important;
}

.cart-navigation__back-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--unnamed-font-size-12);
  font-weight: var(--unnamed-font-weight-bold);
  color: var(---f3bc3e);
  line-height: 1.17em;
  gap: 1em;
  width: fit-content;
}

.cart-details {
  padding-block: 15px 25px !important;
  display: grid;
  grid-template-columns: min(608px, 100%) min(667px, 100%);
  gap: 2rem;
  align-content: stretch;
  align-items: stretch;
  justify-content: space-between;
}

.cart-details__form {
  padding-block-start: 38px;
}

.cart-details__form-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  padding-block-end: 1.125rem;
  border-block-end: 1px solid var(---395144);
}

.cart-details__form-title {
  font-size: var(--unnamed-font-size-48);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.2em;
  color: var(---395144);
}

.cart-details__form-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(64px, 1fr));
  justify-items: center;
  align-items: baseline;
  align-content: stretch;
  gap: 2rem;
  font-size: 1rem;
  line-height: 1.625em;
  color: var(---4e6c50);
}

.cart-details__form-nav-item {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.cart-details__form-nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + 1.125rem + 5px);
  height: 5px;
  background: var(---395144);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 150ms ease-in-out;
}

.cart-details__form-nav-item.active::after,
.cart-details__form-nav-item:hover::after {
  transform: scaleY(1);
}

.cart-details__form-details-container {
  padding-block: 27px 16px;
}

.cart-details__form-park-name {
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.67em;
  color: var(---1d1d1f);
}

.cart-details__form-details {
  font-size: var(--unnamed-font-size-12);
  font-weight: var(--unnamed-font-weight-300);
  color: var(---777779);
  line-height: 1.17em;
  margin-block-start: 1em;
  display: block;
}

.cart-details__form-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  gap: 32px;
  padding-block: 16px 90px;
}

.cart-details__form-name-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.33em;
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-300);
  color: var(---1d1d1f);
  line-height: 1.67em;
}

.cart-details__form-item-name-img {
  max-width: 1.33em;
}

.cart-details__form-switch-conatiner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--unnamed-font-size-18);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.67em;
  color: var(---1d1d1f);
  gap: 0.5em;
}

.cart-details__form-switch {
  --button-width: 2.11em;
  --button-height: 1.167em;
  --toggle-diameter: 0.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 1.5em;
  --color-grey: #cccccc;
  --color-green: var(---e3eed9);
  line-height: 1ch;
}

.cart-details__form-switch-slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.cart-details__form-switch-slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.cart-details__form-switch
  input[type="checkbox"]:checked
  + .cart-details__form-switch-slider {
  background-color: var(--color-green);
}

.cart-details__form-switch
  input[type="checkbox"]:checked
  + .cart-details__form-switch-slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  background-color: var(---4e6c50);
}

.cart-details__form-switch input[type="checkbox"] {
  display: none;
}

.cart-details__form-switch
  input[type="checkbox"]:active
  + .cart-details__form-switch-slider::after {
  width: var(--toggle-wider);
}

.cart-details__form-switch
  input[type="checkbox"]:checked:active
  + .cart-details__form-switch-slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

.cart-details__form-booking-name-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-300);
  color: var(---262626);
  line-height: 1.188em;
}

.cart-details__form-booking-name-salute {
  outline: none !important;
}

.cart-details__form-booking-name {
  padding: 6px;
  border-bottom: 1px dashed var(---a9a9aa);
  outline: none !important;
}

.cart-details__form-booking-select-container {
  grid-column: 1 / -1;
  background: var(---f1f1f1);
  border: 2px solid var(---f2b203);
  border-radius: 26px;
  display: grid;
  grid-template-columns: 0.717fr 1fr;
  width: min(523px, 100%);
  margin-block-start: 1rem;
}

.cart-details__form-booking-select-container > *:not(button) {
  cursor: pointer;
  color: var(---3a3a3c);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-block: 34px;
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-300);
  position: relative;
}

.cart-details__form-booking-select-date-container {
  margin-inline: 37px;
}

.cart-details__form-booking-select-date-container::after {
  content: "";
  width: 1px;
  height: calc(100% + 66px);
  background: #cbcbcb;
  position: absolute;
  left: calc(100% + 37px);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.cart-details__form-booking-select-container > *:not(button) > img {
  max-height: 20px;
}

.cart-details__form-booking-select-container
  > *:not(button)
  > img[class*="chevron"] {
  max-width: 12px;
}

.cart-details__form-booking-select-person-container {
  margin-inline: 37px 51px;
}

.cart-details__form-btn {
  padding: 0.82em 4.41em;
  font-size: var(--unnamed-font-size-22);
  font-weight: var(--unnamed-font-weight-bold);
  color: var(---f5f5f7);
  line-height: 1.14em;
  border-radius: 2.09em;
  background: var(---f2b203);
  border: 2px solid var(---f2b203);
  margin-block-start: 1.95em;
  grid-column: 1 / -1;
  width: fit-content;
}

.cart-details__summary {
  background: #ebeae480;
  border-radius: 0px 100px 100px 0px;
  padding: 38px 152px 38px 75px;
}

.cart-details__summary-title {
  font-family: var(--font-family-pp-eiko);
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1.56em;
  color: var(---f2b203);
}

.cart-details__summary-date {
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.875em;
  color: var(---4e6c50);
  margin-block-start: 1em;
  display: block;
}

.cart-details__summary-details-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-content: stretch;
  align-items: stretch;
  margin-block-start: 1.5rem;
}

[class^="cart-details__summary-details-person"] {
  font-size: var(--unnamed-font-size-16);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 1.125em;
  color: var(---3a3a3c);
}

[class^="cart-details__summary-details-person"][class$="-count"] {
  position: relative;
}

[class^="cart-details__summary-details-person"][class$="-count"]::before {
  content: "x";
  margin-inline-end: 1.375em;
}

.cart-details__summary-details-container > *:nth-last-child(-n + 2) {
  padding-block-start: 1.5rem;
  border-block-start: 0.3px dashed var(---707070);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2.25rem;
}

.cart-details__summary-details-container > *:not(:nth-last-child(-n + 2)) {
  margin-block-end: 1rem;
}

.cart-details__summary-details-container > *:nth-child(odd) {
  padding-inline-end: 1rem;
}

.cart-details__summary-details-total-title {
  font-size: var(--unnamed-font-size-22);
  color: var(---262626);
  line-height: 1.182em;
}

.cart-details__summary-details-total-amount-container {
  position: relative;
}

.cart-details__summary-details-total-amount {
  position: relative;
  font-size: var(--unnamed-font-size-28);
  font-weight: var(--unnamed-font-weight-bold);
  line-height: 1.21em;
  color: var(---262626);
}

.cart-details__summary-details-total-amount::before {
  content: attr(data-currency);
  margin-inline-end: 0.5ch;
}

.cart-details__summary-details-icon {
  max-width: 20px;
}

.cart-details__summary-details-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.cart-details__summary-details-text {
  font-size: var(--unnamed-font-size-11);
  font-weight: var(--unnamed-font-weight-300);
  color: var(---f2b203);
  line-height: 1.18em;
}

.cart-details__summary-details-chevron {
  max-width: 9px;
}

.cart-details .footer-secondary__logos {
  grid-column: 2 / -1;
  opacity: 0.22;
  padding-block: 18px 7px;
  width: min(410px, 100%);
  gap: 1rem 2rem;
}

.cart-details .footer-secondary__logos .footer-secondary__logo {
  max-height: 18px;
}

.cart-footer {
  padding-block: 28px 0 !important;
}

.cart-footer__progressbar {
  width: 100%;
  height: 5px;
}

.cart-footer__progressbar::-webkit-progress-bar {
  background: var(---b4bdb8);
}

.cart-footer__progressbar::-webkit-progress-value {
  background: var(---395144);
  border-radius: 0px 5px 5px 0px;
}

.cart-footer__progress-labels {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: end;
  padding-block: 20px 37px;
}

.cart-footer__progress-label {
  position: relative;
  height: 24px;
}

.cart-footer__progress-lebel-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 9px;
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
}

.cart-footer__progress-lebel-img {
  max-width: 21px;
}

.cart-footer__progress-label-text {
  font-size: var(--unnamed-font-size-12);
  line-height: 2em;
  color: var(---a9a9aa);
}

.cart-footer__progress-label.active .cart-footer__progress-label-text {
  color: var(---1d1d1f);
}

/* Gallery */
.gallery-park.section-inline-padding {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-block: 96px 236px !important;
}

.gallery-park__img-link {
  padding: 38px 36px;
  background: var(---262626);
}

.gallery-park__title {
  font-size: var(--unnamed-font-size-28);
  font-weight: var(--unnamed-font-weight-300) !important;
  margin-block-start: 1.143em;
  line-height: 1.21em;
  color: var(---262626);
  width: min(220px, 100%);
  text-align: center;
}

.gallery-park__tags {
  font-size: var(--unnamed-font-size-11);
  font-weight: var(--unnamed-font-weight-300);
  line-height: 2em;
  color: var(---a9a9aa);
  margin-block-start: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gallery-park__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 43px;
  margin-block-start: 47px;
}

[class^="gallery-park__link-img"] {
  max-height: 20px;
}

.gallery-park_content {
  width: min(896px, 100%);
  margin-block-start: 46px;
  font-size: var(--unnamed-font-size-18);
  line-height: 1.67em;
  color: var(---777779);
}

.gallery-park__img-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  width: min(1200px, 100%);
  gap: 1rem;
  margin-block-start: 96px;
}

.gallery-park__img-gallery-img {
  width: 100%;
  height: 288px;
  object-fit: cover;
  object-position: center;
}
